.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__img {
    height: 70vh;
    max-width: 100vw;
}